In [1]:
# Import Modules
import pandas as pd
import os
import json
import requests
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
fred_api_key = os.getenv('FRED_API_KEY')

In [4]:
type(fred_api_key)

str

In [5]:
category_id = 'DEXUSEU'

In [6]:
url = f'https://api.stlouisfed.org/fred/series/observations?series_id={category_id}&api_key={fred_api_key}&file_type=json'

In [7]:
data = requests.get(url).json()

In [8]:
df = pd.DataFrame(data['observations'][-100:-1])

In [9]:
df.head(25)

   realtime_start realtime_end        date   value
0      2022-02-08   2022-02-08  2021-09-20  1.1729
1      2022-02-08   2022-02-08  2021-09-21  1.1724
2      2022-02-08   2022-02-08  2021-09-22  1.1739
3      2022-02-08   2022-02-08  2021-09-23  1.1735
4      2022-02-08   2022-02-08  2021-09-24  1.1715
5      2022-02-08   2022-02-08  2021-09-27  1.1702
6      2022-02-08   2022-02-08  2021-09-28  1.1681
7      2022-02-08   2022-02-08  2021-09-29  1.1612
8      2022-02-08   2022-02-08  2021-09-30  1.1577
9      2022-02-08   2022-02-08  2021-10-01  1.1598
10     2022-02-08   2022-02-08  2021-10-04  1.1622
11     2022-02-08   2022-02-08  2021-10-05  1.1609
12     2022-02-08   2022-02-08  2021-10-06  1.1546
13     2022-02-08   2022-02-08  2021-10-07  1.1561
14     2022-02-08   2022-02-08  2021-10-08  1.1572
15     2022-02-08   2022-02-08  2021-10-11       .
16     2022-02-08   2022-02-08  2021-10-12  1.1541
17     2022-02-08   2022-02-08  2021-10-13  1.1568
18     2022-02-08   2022-02-08  2021-10-14  1.1591
19     2022-02-08   2022-02-08  2021-10-15  1.1594
20     2022-02-08   2022-02-08  2021-10-18  1.1609
21     2022-02-08   2022-02-08  2021-10-19  1.1632
22     2022-02-08   2022-02-08  2021-10-20  1.1643
23     2022-02-08   2022-02-08  2021-10-21  1.1643
24     2022-02-08   2022-02-08  2021-10-22  1.1632

In [10]:
df.dtypes

realtime_start    object
realtime_end      object
date              object
value             object
dtype: object

In [11]:
df = df.dropna()
df

   realtime_start realtime_end        date   value
0      2022-02-08   2022-02-08  2021-09-20  1.1729
1      2022-02-08   2022-02-08  2021-09-21  1.1724
2      2022-02-08   2022-02-08  2021-09-22  1.1739
3      2022-02-08   2022-02-08  2021-09-23  1.1735
4      2022-02-08   2022-02-08  2021-09-24  1.1715
..            ...          ...         ...     ...
94     2022-02-08   2022-02-08  2022-01-28   1.116
95     2022-02-08   2022-02-08  2022-01-31  1.1212
96     2022-02-08   2022-02-08  2022-02-01  1.1239
97     2022-02-08   2022-02-08  2022-02-02  1.1299
98     2022-02-08   2022-02-08  2022-02-03  1.1425

[99 rows x 4 columns]

In [12]:
data = df

In [13]:
data.head(25)

   realtime_start realtime_end        date   value
0      2022-02-08   2022-02-08  2021-09-20  1.1729
1      2022-02-08   2022-02-08  2021-09-21  1.1724
2      2022-02-08   2022-02-08  2021-09-22  1.1739
3      2022-02-08   2022-02-08  2021-09-23  1.1735
4      2022-02-08   2022-02-08  2021-09-24  1.1715
5      2022-02-08   2022-02-08  2021-09-27  1.1702
6      2022-02-08   2022-02-08  2021-09-28  1.1681
7      2022-02-08   2022-02-08  2021-09-29  1.1612
8      2022-02-08   2022-02-08  2021-09-30  1.1577
9      2022-02-08   2022-02-08  2021-10-01  1.1598
10     2022-02-08   2022-02-08  2021-10-04  1.1622
11     2022-02-08   2022-02-08  2021-10-05  1.1609
12     2022-02-08   2022-02-08  2021-10-06  1.1546
13     2022-02-08   2022-02-08  2021-10-07  1.1561
14     2022-02-08   2022-02-08  2021-10-08  1.1572
15     2022-02-08   2022-02-08  2021-10-11       .
16     2022-02-08   2022-02-08  2021-10-12  1.1541
17     2022-02-08   2022-02-08  2021-10-13  1.1568
18     2022-02-08   2022-02-08  2021-10-14  1.1591
19     2022-02-08   2022-02-08  2021-10-15  1.1594
20     2022-02-08   2022-02-08  2021-10-18  1.1609
21     2022-02-08   2022-02-08  2021-10-19  1.1632
22     2022-02-08   2022-02-08  2021-10-20  1.1643
23     2022-02-08   2022-02-08  2021-10-21  1.1643
24     2022-02-08   2022-02-08  2021-10-22  1.1632